.App {
  text-align: center;
  max-width: 100vw;
  background-color: rgb(246,246,246);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 50px;
}
.left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.middle{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}

