.App {
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  max-width: 100vw;
  background-color: rgb(246,246,246);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 50px;
}
.left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.middle{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.right{
  display: flex;
  flex-direction: column;
  gap:20px;
  justify-content: space-between;
 
}
.heading{
  font-size: 3rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  color: rgb(83,83,83);
}

.count{
  font-size:4rem;
  font-weight: 700;
}
.ls{
  font-size: 2rem;
  color: rgb(83,83,83);
}
.ls-count{
  font-size:3rem;
}

